<mat-card>
  <mat-card-title>
    <h4><b>Ativos </b></h4>
  </mat-card-title>
  <div>
    <mat-card>
      <mat-card-content>
        <ng-container *ngIf="dataSource?.length > 0; else value">
          <table mat-table [dataSource]="dataSource" class="mat-elevation-z0">
            <ng-container matColumnDef="codigo">
              <th mat-header-cell *matHeaderCellDef>Código</th>
              <td mat-cell *matCellDef="let element">{{ element.codigo }}</td>
            </ng-container>

            <!-- Name Column -->
            <ng-container matColumnDef="nome">
              <th mat-header-cell *matHeaderCellDef>Nome</th>
              <td mat-cell *matCellDef="let element">
                {{ element.nome }}
              </td>
            </ng-container>
            <!-- Symbol Column -->
            <ng-container matColumnDef="quantidade">
              <th mat-header-cell *matHeaderCellDef>Quantidade</th>
              <td mat-cell *matCellDef="let element">
                {{ element?.quantidade }}
              </td>
            </ng-container>
            <!-- Weight Column -->
            <ng-container matColumnDef="valorMoeda">
              <th mat-header-cell *matHeaderCellDef>Valor Moeda</th>
              <td mat-cell *matCellDef="let element">
                {{ element?.valorMoeda | currency }}
              </td>
            </ng-container>

            <ng-container matColumnDef="valorFracionado">
              <th mat-header-cell *matHeaderCellDef>Valor Comprado </th>
              <td mat-cell *matCellDef="let element">
                {{ element.valorFracionado | currency }}
              </td>
            </ng-container>

            <ng-container matColumnDef="excluir">
              <th mat-header-cell *matHeaderCellDef>Deletar</th>
              <td mat-cell *matCellDef="let element">
                <button mat-icon-button (click)="excluir(element)">
                  <mat-icon>delete</mat-icon>
                </button>
              </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
          </table>
        </ng-container>
        <ng-template #value>
          <p><i>is Empty</i></p>
        </ng-template>
      </mat-card-content>
    </mat-card>
    <br>
    <br>
    <form [formGroup]="formAtivos" #form="ngForm">
      <div flexLayout="flex">
        <div fxFlex="80">
        <h4>Crytos </h4>
        <mat-form-field appearance="fill">
          <mat-label>Insira o codigo ou nome </mat-label>
          <input matInput id="codigo" (keyup)="filtrarCoins($event.target.value)" formControlName="codigo" />
        </mat-form-field>
       </div>

       <div fxFlex="20">
        <h4>Quantidade </h4>
        <mat-form-field appearance="fill">
          <mat-label>xxx</mat-label>
          <input matInput id="codigo" formControlName="quantidade" />
        </mat-form-field>
      </div>
      </div>
      <div flexLayout="flex">
        <div fxFlex="30">
          <button id="btn-limpar" (click)="limpar()" mat-stroked-button color="primary" style="margin-right: 20px;">
            Limpar
          </button>
          <button id="btn-novo" (click)="add()" mat-raised-button color="primary" class="">
            Adicionar
          </button>
        </div>
      </div>
       <div flexLayout="flex">
          <h4>Selecione um ativo </h4>
        <mat-selection-list #crypt [multiple]="false"  (selectionChange)="selecionar(crypt.selectedOptions)" >
          <mat-list-option *ngFor="let crypto of criptos" [value]="crypto">
             <p class="coin-symbol">  <img [src]="crypto.image" alt="crypto" class="img-crypto">  <b>{{crypto.name}} </b> - {{crypto.symbol}} - <b> {{crypto.current_price | currency}}</b> </p>
          </mat-list-option>
        </mat-selection-list>
        <br>
       </div>
    </form>
  </div>
  <br />

