<div class="login-page">
  <div class="login-spacer"></div>
  <div class="login-container mat-card">
    <div id="login-fab" class="mdl-color--accent mdl-color-text--white">
      <i id="lock-icon" class="material-icons">lock</i>
    </div>
    <h2 style="padding-top: 1em;" class="card-heading">
      Login - Gestão Financeira
    </h2>
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="login-form">
      <mat-form-field>
        <input
          matInput
          placeholder="Usúario"
          formControlName="username"
          class="form-control"
        />
      </mat-form-field>
      <mat-form-field>
        <input
          matInput
          type="password"
          formControlName="password"
          class="form-control"
          placeholder="Senha"
        />
      </mat-form-field>

      <div class="buttons">
        <div class="login">
          <button mat-raised-button color="primary">Login</button>
        </div>
        <div class="register">
          <button mat-raised-button color="primary" routerLink="/register">
            Registrar
          </button>
          <button mat-button color="primary">Esqueceu a Senha ?</button>
        </div>
      </div>
    </form>
  </div>
</div>
