<mat-card>
  <form [formGroup]="clienteForm" #form="ngForm">
    <br />
    <br />
    <div flexLayout="flex">
      <div fxFlex="70">
        <h4>Nome</h4>
        <mat-form-field appearance="fill">
          <mat-label></mat-label>
          <input matInput id="Nome" formControlName="nome" />
        </mat-form-field>
      </div>
      <div fxFlex="30">
        <h4>E-mail</h4>
        <mat-form-field appearance="fill">
          <mat-label>Insira o valor</mat-label>
          <input matInput id="email" formControlName="email" />
        </mat-form-field>
      </div>
    </div>
    <div flexLayout="flex">
      <div fxFlex="40">
        <h4>Telefone</h4>
        <mat-form-field appearance="fill">
          <mat-label>Telefone</mat-label>
          <input matInput id="telefone" formControlName="telefone" />
        </mat-form-field>
      </div>
    </div>
    <div flexLayout="flex">
      <div fxFlex="70">
        <h4>CPF</h4>
        <mat-form-field appearance="fill">
          <mat-label></mat-label>
          <input matInput id="cpf" formControlName="cpf" />
        </mat-form-field>
      </div>
      <div fxFlex="30">
        <h4>RG</h4>
        <mat-form-field appearance="fill">
          <mat-label>Insira o valor</mat-label>
          <input matInput id="rg" formControlName="rg" />
        </mat-form-field>
      </div>
    </div>

    <div flexLayout="flex">
      <div fxFlex="50">
        <h4>Limite</h4>
        <mat-form-field appearance="fill">
          <mat-label>Insira o valor</mat-label>
          <input matInput id="limite" formControlName="limite" />
        </mat-form-field>
      </div>
      <div fxFlex="20">
        <h4>Dia Vencimento</h4>
        <mat-form-field appearance="fill">
          <mat-label>Dia Vencimento</mat-label>
          <mat-select id="diaVencimento" formControlName="diaVencimento">
            <mat-option value="">---</mat-option>
            <mat-option *ngFor="let dia of dias" [value]="dia">
              {{ dia }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>
    <div style="margin-top: 20px;" flexLayout="flex">
      <h3 fxFlex="70">Endereço</h3>
    </div>
    <hr />
    <div flexLayout="flex">
      <br />
      <div fxFlex="70">
        <h4>Logradouro</h4>
        <mat-form-field appearance="fill">
          <mat-label>Logradouro</mat-label>
          <input id="observacao" matInput formControlName="logradouro" />
        </mat-form-field>
      </div>
      <div fxFlex="30">
        <h4>Número</h4>
        <mat-form-field appearance="fill">
          <mat-label>Número</mat-label>
          <input id="observacao" matInput formControlName="numero" />
        </mat-form-field>
      </div>
      <div flexLayout="flex">
        <div fxFlex="50">
          <h4>Estado</h4>
          <mat-form-field appearance="fill">
            <mat-label>Estado</mat-label>
            <mat-select id="cliente" formControlName="estado">
              <mat-option value="">---</mat-option>
              <mat-option
                *ngFor="let estado of estados"
                [value]="estado.codigo"
              >
                {{ estado.nome }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div fxFlex="50">
          <h4>Cidade</h4>
          <mat-form-field appearance="fill">
            <mat-label>Cidade</mat-label>
            <mat-select id="categoria" formControlName="cidade">
              <mat-option value="">---</mat-option>
              <mat-option
                *ngFor="let cidade of cidades"
                [value]="cidade.codigo"
              >
                {{ cidade.nome }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>
    </div>
    <div flexLayout="flex">
      <div fxFlex="70">
        <h4>Complemento</h4>
        <mat-form-field appearance="fill">
          <mat-label>Complemento</mat-label>
          <input id="complemento" matInput formControlName="complemento" />
        </mat-form-field>
      </div>
      <div fxFlex="30">
        <h4>Bairro</h4>
        <mat-form-field appearance="fill">
          <mat-label>bairro</mat-label>
          <input id="observacao" matInput formControlName="bairro" />
        </mat-form-field>
      </div>
      <div fxFlex="40">
        <h4>Cep</h4>
        <mat-form-field appearance="fill">
          <mat-label>cep</mat-label>
          <input id="observacao" matInput formControlName="cep" />
        </mat-form-field>
      </div>
    </div>
    <div>
      <button
        id="btn-limpar"
        (click)="limpar()"
        mat-raised-button
        color="primary"
        style="margin-right: 20px;"
      >
        Limpar
      </button>
      <button
        id="btn-salvar"
        (click)="salvar()"
        mat-raised-button
        color="primary"
        class=""
      >
        Salvar
      </button>
    </div>
  </form>
</mat-card>
