.container {
  flex-direction: row;
  display: flex;
}

.first-card {
  width: 160px;
  height: 100px;
  background-color: #782aff;
  color: #fff;
  justify-content: center;
}

mat-icon {
  margin-right: 5%;
}

.mat-card-title {
  display: block;
}

mat-card-subtitle {
  color:#fff;
}

a {
  padding-right: 5%;
  text-decoration: none;
}
