<mat-card>
  <h3>Dados Usuário</h3>
  <br>
  <div class="container">
    <a *ngFor="let card of cards" [routerLink]="'/'+card.link">
      <mat-card class="first-card">
          <mat-card-title>
            <h4> <mat-icon> {{card.icon}}</mat-icon> <b>{{card.nome}}</b></h4>
          </mat-card-title>
          <mat-card-subtitle>

          </mat-card-subtitle>
          <mat-card-content>
            <h3>Saldo : {{card.content}}</h3>
          </mat-card-content>
      </mat-card>
      </a>
  </div>

</mat-card>
