<mat-card>
  <mat-card-title>
    <h4>Nome : {{ cliente?.nome }}</h4>
  </mat-card-title>
  <mat-card-content class="grid-container">
    <mat-list>
      <h3><b>Dados</b></h3>
      <mat-list-item class="grid-item">
        <b>CPF : </b>
        {{ cliente?.cpf }}
      </mat-list-item>
      <mat-list-item class="grid-item">
        <b>RG : </b>
        {{ cliente?.rg }}
      </mat-list-item>
      <mat-list-item class="grid-item">
        <b>E-mail :</b>
        {{ cliente?.email }}
      </mat-list-item>
      <mat-list-item class="grid-item">
        <b>Data Cadastro : </b>
        {{ cliente?.dataCadastro }}
      </mat-list-item>
      <mat-list-item class="grid-item">
        <b>Telefone : </b>
        {{ cliente?.telefone }}
      </mat-list-item>
    </mat-list>
    <mat-list>
      <h3><b>Cliente</b></h3>
      <mat-list-item class="grid-item">
        <b>Limite :</b>
        {{ cliente.limite }}
      </mat-list-item>
      <mat-list-item class="grid-item">
        <b>Dia Vencimento :</b>
        {{ cliente.diaVencimento }}
      </mat-list-item>
    </mat-list>

    <mat-list>
      <h3><b>Endereço</b></h3>
      <mat-list-item class="grid-item">
        <b>Logradouro :</b>
        {{ cliente.logradouro }}
        </mat-list-item>
        <mat-list-item class="grid-item">
        <b>Número :</b>
        {{ cliente.numero }}
      </mat-list-item>
      <mat-list-item class="grid-item">
        <b>Complemento :</b>
        {{ cliente.complemento }}
      </mat-list-item>
      <mat-list-item class="grid-item">
        <b>Complemento :</b>
        {{ cliente.complemento }}
      </mat-list-item>
    </mat-list>
  </mat-card-content>
  <div flexLayout="flex">
    <div fxFlex="70"></div>
    <div fxFlex="30">
      <button id="btn-novo" (click)="editar()" mat-raised-button color="primary" class="">
        Editar Dados
      </button>
    </div>
  </div>
</mat-card>
