
.mat-form-field {
  width: 100%;
}

.mat-form-field-appearance-fill .mat-form-field-flex {
  background-color:#fff !important;
}

table {
  width: 100%;
}

h3 {
  padding: 0.9em;
  border-radius: 0.5em;
  margin-right: 10em;
  background-color: #660bd6;
  color:#fff;
}


.mat-button-toggle {
  color: rgb(32, 32, 32);
}

.mat-button-toggle-checked {
  background-color:#673ab7 !important;
  color:#fff;
}


.grid-container {
  display: grid;
  grid-template-columns: auto auto;
  padding: 10px;
}
.grid-item {
  padding: 20px;
}
