<mat-card>
  <mat-card-title>
    <h3> Nome : 'Luis Antonio'</h3>
  </mat-card-title>
  <mat-card-content>
    <mat-list>
      <mat-list-item> idade : F </mat-list-item>
      <mat-list-item> Endereço > </mat-list-item>
      <mat-list-item> Cep </mat-list-item>
     </mat-list>
  </mat-card-content>
  <div flexLayout="flex">
    <div fxFlex="70">
    </div>
    <div fxFlex="30">
      <button id="btn-novo" (click)="editar()" mat-raised-button color="primary" class="">
        Editar Dados
      </button>
    </div>
  </div>
</mat-card>
