
  <mat-drawer-container class="example-container" [hasBackdrop]="false" >
    <mat-drawer [opened]="true" #drawer [mode]="'side'">
     <div class="mat-elevation-z8 opt">
      <button mat-icon-button (click)="drawer.toggle()">
      <mat-icon>keyboard_backspace</mat-icon>
      <b> MENU</b>
      </button>
     </div>
     <div class="items-menu">
      <a *ngFor="let routing of routings" mat-button [routerLink]="routing.rota" target="">
        <mat-icon>{{routing.icon}}</mat-icon>
         {{routing.nome}}
     </a>
     </div>
    </mat-drawer>
    <mat-drawer-content>
      <mat-toolbar>
        <button mat-icon-button class="example-icon" (click)="drawer.toggle()" aria-label="Example icon-button with menu icon">
          <mat-icon>menu</mat-icon>
        </button>
        <b class="titulo-org">
          <span>Gestão Financeira</span>
        </b>
        <span class="example-spacer"></span>

        <div>
          <small class="nome"><mat-icon>perm_identity</mat-icon> {{ usuario.nome | slice:0:20 }} ...</small>
        </div>
        <button [matMenuTriggerFor]="menu" mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
          <mat-icon>settings</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item (click)="logout()" >Deslogar
            <mat-icon>logout</mat-icon>
          </button>
        </mat-menu>
      </mat-toolbar>
    <!-- conteudo -->
      <div class="container">
       <section class="mat-card">
        <app-page-bread></app-page-bread>
        <div *ngIf="route.children.length === 0" >
          <div>
            <app-dados-usuario></app-dados-usuario>
          </div>
          <mat-card>
            <br>
            <h3> <b>Modulos</b> </h3>
            <br>
            <app-card [itemsCard]="itemsCard"></app-card>
          </mat-card>
        </div>
         <router-outlet></router-outlet>
       </section>
      </div>
    <!-- end -->
    </mat-drawer-content>
  </mat-drawer-container>




